{% extends 'base.html' %}
{% block content %}

<div>
    <div class="card" style="width: 18rem;">
      <div class="card-body">
        <h5 class="card-title"> {{purchase.name}}</h5>
        <h6 class="card-subtitle mb-2 text-muted"> {{purchase.age}} </h6>
          <h6 class="card-subtitle mb-2 text-muted"> {{purchase.date_purchase}} </h6>
          <h6 class="card-subtitle mb-2 text-muted"> {{purchase.item_id}} </h6>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <a href="{{url_for('update_single_purchase', purchase_id = purchase.id)}}" class="update_purchase">Изменить</a>
        <a href="{{url_for('delete_single_purchase', purchase_id = purchase.id)}}" class="card-link"> Удалить</a>
    </div>
</div>

</div>

{% endblock %}